flows/Task_Recommendation_Sample_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Adds the template record IDs, parent IDs, task recommendation reasons, and target IDs to the flow output.</description>
        <name>Add_Flow_Output_Values</name>
        <label>Add Flow Output Values</label>
        <locationX>1255</locationX>
        <locationY>1253</locationY>
        <assignmentItems>
            <assignToReference>TemplateRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Assessment_Task_for_Survey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentTaskIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NullString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecommendationReasons</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Survey_Available_In_Last_Visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecommendedTargetIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Target_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Assessment_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the task recommendation reasons and target IDs to the collection variables. For the template record, order type assessment task IDs are added.</description>
        <name>Add_Template_Details_to_Collection_Variable</name>
        <label>Add Template Details to Collection Variable</label>
        <locationX>613</locationX>
        <locationY>1998</locationY>
        <assignmentItems>
            <assignToReference>TemplateRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Assessment_Task_Order.AssessmentTaskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentTaskIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NullString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecommendationReasons</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OOS_RVKPI_In_Last_Visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecommendedTargetIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Target_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_OOS_RVKPI_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the template record IDs, parent IDs, task recommendation reasons, and target IDs to the collection variables.</description>
        <name>Add_Values_To_Flow_Output</name>
        <label>Add Values to Flow Output</label>
        <locationX>1304</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>TemplateRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Assessment_Task_RVKPIs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentTaskIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Assessment_Task_RVKPIs.AssessmentTask.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecommendationReasons</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>More_Than_50_Percent_RVKPIs_Non_Compliant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecommendedTargetIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Target_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Assessment_Task_RVKPIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets the NonCompliantRVKPICount variable to 0.</description>
        <name>Reset_Non_Compliant_RVKPI_Count</name>
        <label>Reset Non-Compliant RVKPI Count</label>
        <locationX>809</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>Non_Compliant_RVKPI_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Assessment_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reset OOS RVKPI count variable to 0.</description>
        <name>Reset_OOS_RVKPI_Count</name>
        <label>Reset OOS RVKPI Count</label>
        <locationX>299</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>OOS_RVKPI_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Target_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets the RVKPICount variable to 0.</description>
        <name>Reset_RVKPI_Count</name>
        <label>Reset RVKPI Count</label>
        <locationX>789</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>RVKPICount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Non_Compliant_RVKPI_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the count for non-compliant RVKPI.</description>
        <name>Set_Non_Compliant_RVKPI_Count</name>
        <label>Set Non-Compliant RVKPI Count</label>
        <locationX>569</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Non_Compliant_RVKPI_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_RVKPIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the count for the out of stock retail visit  KPI.</description>
        <name>Set_OOS_RVKPI_Count</name>
        <label>Set OOS RVKPI Count</label>
        <locationX>618</locationX>
        <locationY>1713</locationY>
        <assignmentItems>
            <assignToReference>OOS_RVKPI_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_OOS_RVKPI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_OOS_RVKPI_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the count for retail visit KPI.</description>
        <name>Set_RVKPI_Count</name>
        <label>Set RVKPI Count</label>
        <locationX>610</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>RVKPICount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_RVKPIs_for_Assessment_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_RVKPIs</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>The task is recommended because more than 50 percent retail visit KPIs are non-compliant.</description>
        <name>More_Than_50_Percent_RVKPIs_Non_Compliant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The task is recommended because more than 50 percent retail visit KPIs are non-compliant.</stringValue>
        </value>
    </constants>
    <constants>
        <name>NullString</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <description>The task is recommended because there are out of stock retail visit KPIs in the last visit.</description>
        <name>OOS_RVKPI_In_Last_Visit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The task is recommended because there are out of stock retail visit KPIs in the last visit.</stringValue>
        </value>
    </constants>
    <constants>
        <description>The task is recommended because the survey is available in the last visit.</description>
        <name>Survey_Available_In_Last_Visit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The task is recommended because the survey is available in the last visit.</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether at least one retail visit KPI is identified as out of stock.</description>
        <name>Does_OOS_RVKPI_Exist</name>
        <label>Does OOS RVKPI Exist?</label>
        <locationX>453</locationX>
        <locationY>1827</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Assessment_Tasks_for_OOS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>OOS_RVKPI_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OOS_RVKPI_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_One_OOS_RVKPI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the retail store has the survey invitation.</description>
        <name>Does_Store_Have_Survey_Invitation</name>
        <label>Does Store Have Survey Invitation?</label>
        <locationX>839</locationX>
        <locationY>1167</locationY>
        <defaultConnector>
            <targetReference>Get_Assessment_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>Store_Has_Survey_Invitation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Invitations.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assessment_Task_for_Survey</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the number of non-compliant retail visit KPIs is more than 50 percent.</description>
        <name>Is_Non_Compliant_RVKPI_Count_More_Than_50_Percent</name>
        <label>Is Non-Compliant RVKPI Count More Than 50 Percent?</label>
        <locationX>849</locationX>
        <locationY>697</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Assessment_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>Non_Compliant_RVKPI_Count_More_Than_50_Percent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NonCompliantRVKPIPercentage</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_Assessment_Task_RVKPIs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the retail visit KPI is non-compliant.</description>
        <name>Is_RVKPI_Non_Compliant</name>
        <label>Is RVKPI Non-Compliant?</label>
        <locationX>792</locationX>
        <locationY>847</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_RVKPIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No(Default)</defaultConnectorLabel>
        <rules>
            <name>RVKPI_Non_Compliant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_RVKPIs.TargetIntegerValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_RVKPIs.ActualIntegerValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_RVKPIs.TargetBooleanValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_RVKPIs.ActualBooleanValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_RVKPIs.TargetDateTimeValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_RVKPIs.ActualDateTimeValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_RVKPIs.TargetDecimalValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_RVKPIs.ActualDecimalValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_RVKPIs.TargetStringValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_RVKPIs.ActualStringValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Non_Compliant_RVKPI_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the target type is visit.</description>
        <name>Is_Target_Type_Visit</name>
        <label>Is Target Type Visit?</label>
        <locationX>875</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>Get_Completed_Visit_From_Visit_Recommendation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No(default)</defaultConnectorLabel>
        <rules>
            <name>TargetTypeIsVisit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visit_Recommendations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Visits_with_Target_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the retail visit KPI is non-compliant and has all the required fields.</description>
        <name>RVKPI_Has_All_Required_Fields</name>
        <label>RVKPI Has All Required Fields?</label>
        <locationX>1027</locationX>
        <locationY>535</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Assessment_Task_RVKPIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>RVKPI_Has_Required_Fields</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4 OR 5 OR 6 OR 7 OR 8</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Assessment_Task_RVKPIs.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Target_IDs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Assessment_Task_RVKPIs.AssessmentTask.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_RVKPIs.TargetIntegerValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_RVKPIs.ActualIntegerValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_RVKPIs.TargetBooleanValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_RVKPIs.ActualBooleanValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_RVKPIs.TargetDateTimeValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_RVKPIs.ActualDateTimeValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_RVKPIs.TargetDecimalValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_RVKPIs.ActualDecimalValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_RVKPIs.TargetStringValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Over_RVKPIs.ActualStringValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Values_To_Flow_Output</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <description>Calculates the percentage of retail visit KPIs that are non-compliant.</description>
        <name>NonCompliantRVKPIPercentage</name>
        <dataType>Number</dataType>
        <expression>({!Non_Compliant_RVKPI_Count}/{!RVKPICount})*100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Task Recommendation Sample Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Recommendation Sample Flow</label>
    <loops>
        <description>Repeats action in loop for assessment task retail visit KPIs.</description>
        <name>Iterate_Over_Assessment_Task_RVKPIs</name>
        <label>Iterate Over Assessment Task RVKPIs</label>
        <locationX>1027</locationX>
        <locationY>791</locationY>
        <collectionReference>Get_RVKPIs_for_Assessment_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RVKPI_Has_All_Required_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_RVKPI_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats action in loop for each promotion assessment task that was performed during the last completed visit.</description>
        <name>Iterate_Over_Assessment_Tasks</name>
        <label>Iterate Over Assessment Tasks</label>
        <locationX>974</locationX>
        <locationY>385</locationY>
        <collectionReference>Get_Last_Visit_Assessment_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_RVKPIs_for_Assessment_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Survey_Subject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in loop for each assessment task to identify out of stock retail visit KPIs.</description>
        <name>Iterate_Over_Assessment_Tasks_for_OOS</name>
        <label>Iterate Over Assessment Tasks for OOS</label>
        <locationX>471</locationX>
        <locationY>1556</locationY>
        <collectionReference>Get_Assessment_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_OOS_RVKPI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Over_Target_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats action in loop for each retail visit KPI to identify non-compliant retail visit KPIs.</description>
        <name>Iterate_Over_RVKPIs</name>
        <label>Iterate Over RVKPIs</label>
        <locationX>610</locationX>
        <locationY>669</locationY>
        <collectionReference>Get_RVKPIs_for_Assessment_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_RVKPI_Non_Compliant</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Non_Compliant_RVKPI_Count_More_Than_50_Percent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in loop for each target to identify task recommendations.</description>
        <name>Iterate_Over_Target_IDs</name>
        <label>Iterate Over Target IDs</label>
        <locationX>438</locationX>
        <locationY>70</locationY>
        <collectionReference>TargetIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Visit_Recommendations</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets assessment tasks for the visit.</description>
        <name>Get_Assessment_Task</name>
        <label>Get Assessment Task</label>
        <locationX>947</locationX>
        <locationY>1585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Assessment_Tasks_for_OOS</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Completed_Visit_From_Visit_Recommendation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Completed_Store_Visit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentTask</object>
        <sortField>SequenceNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the assessment tasks for the survey.</description>
        <name>Get_Assessment_Task_for_Survey</name>
        <label>Get Assessment Task for Survey</label>
        <locationX>1038</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Flow_Output_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Completed_Visit_From_Visit_Recommendation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Completed_Store_Visit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ConductInStoreSurveys</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssessmentTask</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the assessment task order for the retail store.</description>
        <name>Get_Assessment_Task_Order</name>
        <label>Get Assessment Task Order</label>
        <locationX>888</locationX>
        <locationY>1998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Template_Details_to_Collection_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RetailStoreId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Retail_Store.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssessmentTaskOrder</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the latest completed visit for the store that’s having the target ID.</description>
        <name>Get_Completed_Store_Visit</name>
        <label>Get Completed Store Visit</label>
        <locationX>1312</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Visit_Assessment_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PlaceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visits_with_Target_Id.PlaceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <sortField>ActualVisitEndTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the latest completed visit for the store that was recommended by visit recommendation.</description>
        <name>Get_Completed_Visit_From_Visit_Recommendation</name>
        <label>Get Completed Visit From Visit Recommendation</label>
        <locationX>1110</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Visit_Assessment_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PlaceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit_Recommendations.VisitSite.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <sortField>ActualVisitEndTime</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the promotion type assessment tasks that were performed during the last completed visit.</description>
        <name>Get_Last_Visit_Assessment_Task</name>
        <label>Get Last Visit Assessment Task</label>
        <locationX>1219</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Assessment_Tasks</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Completed_Visit_From_Visit_Recommendation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Completed_Store_Visit.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaskType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PromotionCheck</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentTask</object>
        <sortField>SequenceNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets one retail visit KPI that’s identified as out of stock.</description>
        <name>Get_One_OOS_RVKPI</name>
        <label>Get One OOS RVKPI</label>
        <locationX>891</locationX>
        <locationY>1822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Visit</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OutOfStock</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssessmentTaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Over_Assessment_Tasks_for_OOS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActualBooleanValue</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ActualBooleanValue</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RetailVisitKpi</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the retail visit KPIs that’re of type out of stock.</description>
        <name>Get_OOS_RVKPI</name>
        <label>Get OOS RVKPI</label>
        <locationX>757</locationX>
        <locationY>1651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_OOS_RVKPI_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OutOfStock</stringValue>
            </value>
        </filters>
        <filters>
            <field>AssessmentTaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Over_Assessment_Tasks_for_OOS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RetailVisitKpi</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the retail store for which the visit was scheduled.</description>
        <name>Get_Retail_Store</name>
        <label>Get Retail Store</label>
        <locationX>1137</locationX>
        <locationY>1999</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assessment_Task_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Visit.PlaceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RetailStore</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the retail visit KPIs for the assessment task.</description>
        <name>Get_RVKPIs_for_Assessment_Task</name>
        <label>Get RVKPIs for Assessment Task</label>
        <locationX>609</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_RVKPI_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentTaskId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Over_Assessment_Tasks.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RetailVisitKpi</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the survey invitations for the survey subject.</description>
        <name>Get_Survey_Invitations</name>
        <label>Get Survey Invitations</label>
        <locationX>1042</locationX>
        <locationY>1069</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Store_Have_Survey_Invitation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey_Subject.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the survey subject for the assessment task.</description>
        <name>Get_Survey_Subject</name>
        <label>Get Survey Subject</label>
        <locationX>1237</locationX>
        <locationY>1097</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Survey_Invitations</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SubjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Completed_Visit_From_Visit_Recommendation.PlaceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Completed_Store_Visit.PlaceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveySubject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the visit for which the retail visit KPI was identified as out of stock.</description>
        <name>Get_Visit</name>
        <label>Get Visit</label>
        <locationX>1136</locationX>
        <locationY>1822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Retail_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_One_OOS_RVKPI.VisitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the visit recommendations for the current target to create task recommendations.</description>
        <name>Get_Visit_Recommendations</name>
        <label>Get Visit Recommendations</label>
        <locationX>719</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Target_Type_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Over_Target_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AiVisitRecommendation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the visits that have the target ID.</description>
        <name>Get_Visits_with_Target_Id</name>
        <label>Get Visits with Target ID</label>
        <locationX>1142</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Completed_Store_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Over_Target_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Iterate_Over_Target_IDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the count of non-compliant RVKPIs.</description>
        <name>Non_Compliant_RVKPI_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores out of stock retail visit KPI count.</description>
        <name>OOS_RVKPI_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the assessment tasks for the KPI based task recommendations. For non-KPI based task recommendations, the value is null.</description>
        <name>ParentTaskIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the visits or visit recommendations for which there are task recommendations.</description>
        <name>RecommendedTargetIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the retail visit KPI count.</description>
        <name>RVKPICount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SurveyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the visits or visit recommendations for which task recommendations are requested.</description>
        <name>TargetIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the reasons for task recommendations.</description>
        <name>TaskRecommendationReasons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the retail visit KPIs or assessment tasks for task recommendations.</description>
        <name>TemplateRecordIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
